.app.dark {
  --bg-color: #383838;
  --inverted-bg-color: #cecece;
  --primary-color: #2167fc;
  --secondary-color: #3486a6;
  --inverted-primary-color: #e5914a;
  --inverted-secondary-color: #ffdc89;
}
