.app.light {
  --bg-color: #cecece;
  --inverted-bg-color: #383838;

  --primary-color: #e79957;
  --secondary-color: #ffdc89;

  --inverted-primary-color: #2167fc;
  --inverted-secondary-color: #3486a6;
}
